/* RESET DEFAULT VITE CSS */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #f5f7fa;
  font-family: "Inter", sans-serif;
  color: #1f2937;
  min-height: 100vh;
}

/* Remove Vite's default centering */
#root {
  max-width: 100%;
  margin: 0;
  padding: 0;
  text-align: left;
}

/* Buttons */
.btn-primary {
  background-color: #2563eb !important;
  border: none;
  font-weight: 500;
}

/* Cards */
.card {
  border-radius: 12px;
  border: none;
}

/* Page title */
.page-title {
  font-size: 28px;
  font-weight: 700;
  margin-bottom: 25px;
}

/* Navbar */
.navbar {
  background: #111827 !important;
  padding: 12px 25px;
}

.navbar-brand {
  font-size: 20px;
  font-weight: 700;
}

.nav-link {
  font-size: 15px !important;
  font-weight: 500;
}

/* Table */
.table thead {
  background: #1f2937;
  color: white;
}

.table tbody tr:hover {
  background: #e5e7eb;
}
